
<section>
  <div class="welcome-banner shadowed" style="background-image: url('<%= image_path "planet.jpg" %>')">

    <h1>Welcome to Astroflat!</h1>
    <h3><%= current_user.first_name if user_signed_in? %></h3>
    <p>Let's book flats on another planet!</p>

       <%= simple_form_for :search, url: astroflats_path, method: :get do |f| %>
      <div class="search-form-control form-group">
       <%= text_field_tag :query,
          params[:query], class: "form-control string required", placeholder:"Search a planet" %>

          <%# <%= submit_tag "Search", class: "btn btn-flat" %>
          <%= button_tag class: 'btn btn-flat' do %>
          <%= icon 'fas', 'search' %>
      <% end %>
      </div>
        <%# <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search" ></i>
        </button> %>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
  <h2>How it works?</h2>
    <div class="container">
      <div class="cards mt-2">
        <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1630007808426-7be055a4e7e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNwYWNlc2hpcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">
          <h3>Make a booking</h3>
        </div>

        <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imageio.forbes.com/specials-images/imageserve/6127b2920d67d45e8a181602/Futuristic-Space-Station-In-The-Rays-Of-Blue-Light/960x0.jpg?format=jpg&width=960)">
          <h3><%= link_to "Choose a flat", astroflats_path %></h3>
        </div>

        <div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2012/11/28/10/34/rocket-launch-67643__340.jpg)">
          <h3><%= link_to "My bookings", bookings_path %></h3>
        </div>
      </div>
    </div>
</section>
