<h2>Edit my astroflat!</h2>
<%= simple_form_for(@astroflat) do |form| %>
  <%= form.input :flat_name %>
  <%= form.input :address %>
  <%= form.input :number_of_guests %>
  <%= form.input :price_per_night %>
  <%= form.input :surface_area %>
  <%= form.submit %>
<% end %>
