<div class="container">
    <article class="box-astroflat">
            <h2><%=@astroflat.flat_name %></h2>
            <p> <strong>Address:</strong> <%= @astroflat.address%> </p>
            <%= cl_image_tag(@astroflat.photo.key) if @astroflat.photo.attached? %>
            <p><%= @astroflat.content %></p>
            <p>$ <%= @astroflat.price_per_night %> per night</p>
            <div>
              <p>number of guests: <%= @astroflat.number_of_guests %> |
              surface area: <%= @astroflat.surface_area %> m²</p>
            </div>

    </article>


  <div class ="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="mt-3 d-flex justify-content-between">
        <% if policy(@astroflat).edit? %>
          <div class='btn btn-ghost'>
            <%= link_to "Edit my astroflat", edit_astroflat_path(@astroflat) %>
            <% end %>
          </div>
          <!-- [...] -->
          <div class='btn btn-ghost'>
            <%= link_to "Delete",
            astroflat_path(@astroflat),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@astroflat).destroy? %>
          </div>
      </div>
    </div>
  </div>
</div>
